[run]
omit = 
    # Omit the tests directory
    tests/*
    # Omit virtual environment (if any)
    venv/*
    # Omit the PICA Launcher main entry point if you want to focus on logic
    # PICA_v6.py