recursive-include pica/assets *
recursive-include pica *.py

# Include top-level documentation and legal files
include README.md
include LICENSE
include CHANGELOG.md
include docs/User_Manual.md
include docs/Instruments_Manuals_Lists.md
