recursive-include pica/assets *
recursive-include pica *.py

# Include top-level documentation and legal files that are copied into the pica package
include pica/README.md
include pica/LICENSE
include pica/CHANGELOG.md
include pica/CONTRIBUTING.md
recursive-include pica/docs *
